.DS_Store

# Quarto outputs files
/.quarto/
/_book/
/_site/
/docs/
/node_modules/
/outputs/
/paper_files/
/releases/*/*.xml
/releases/*/*.zip
/releases/*/_tex/
/releases/*/site_libs/
/site_libs/
/template_files/
/*.aux
/*.bbl
/*.bcf
/*.blg
/*.bst
/*.cfg
/*.cls
/*.docx
/*.fdb_latexmk
/*.fls
/*.gz
/*.jpg
/*.lof
/*.log
/*.lot
/*.pdf
/*.png
/*.sty
/*.tex
/*.thm
/*.toc
*.html
*.json
*.pag
*.spl
*.otf
*.ttf
*.xml

/releases/*/*.aux
/releases/*/*.bbl
/releases/*/*.bcf
/releases/*/*.blg
/releases/*/*.bst
/releases/*/*.cfg
/releases/*/*.cls
/releases/*/*.docx
/releases/*/*.fdb_latexmk
/releases/*/*.fls
/releases/*/*.gz
/releases/*/*.jpg
/releases/*/*.lof
/releases/*/*.log
/releases/*/*.lot
/releases/*/*.pdf
/releases/*/*.png
/releases/*/*.sty
/releases/*/*.tex
/releases/*/*.thm
/releases/*/*.toc
