.DS_Store

# Quarto outputs files
/.quarto/
/_book/
/_site/
/docs/
/node_modules/
/outputs/
/paper_files/
/releases/*/*.xml
/releases/*/*.zip
/releases/*/_tex/
/releases/*/site_libs/
/site_libs/
/template_files/
/*.aux
/*.bbl
/*.bcf
/*.blg
/*.bst
/*.cfg
/*.cls
/*.docx
/*.jpg
/*.lof
/*.log
/*.lot
/*.pdf
/*.png
/*.sty
/*.tex
/*.thm
/*.toc
*.html
*.json
*.pag
*.spl
*.otf
*.ttf
*.xml
